/* admin.css */
body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #343a40;
}

header h1 {
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important;
    margin: 0 5px;
}

.nav-link:hover {
    color: #00c2ff !important;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
